
   
        .card-img-left {
          width: 45%;
          /* Link to your background image using in the property below! */
          background-image:  url('https://media.istockphoto.com/vectors/biceps-muscle-icon-gym-logo-vector-illustration-vector-id1169422269?k=20&m=1169422269&s=612x612&w=0&h=YrVzNHtuun7ahJKkVn8_TtJekIHPVZs5hZRnnprqnuU=');
          background-size: cover;
        }
        
        .btn-login {
          font-size: 0.9rem;
          letter-spacing: 0.05rem;
          padding: 0.75rem 1rem;
          margin-top: 30px;
        }
        .logIn-div{
          width: 785px;
          height: 473px;
          margin-left: 116px;
      
        }
        .Linput{
          margin-top: 5px;
        }
       .Linput2{
          margin-top: 17px;
       }
       .Login-text{
          font-size: 35px;
    font-family: unset;
    color: #0d6efd;
       }
       .signin{
         
          color:black
       }
       .signin2{
          color:#0d6efd;
          font-weight: 10px;
       }





       .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
        
        