.logoutbtn{
          color: #1f95cb;
          margin-right: 32px;
          height: 41px;
    width: 101px;
    .logouticon{
          font-weight: 500;
    font-size: 36px;
    margin-left: 80px;
    cursor: pointer;
    &:hover{
          font-size: 38px;
    }
   
   
    }

          
}

