.userprofilepostsscreen {
  // box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 18px;
  // background-color: white;
  width: 71%;
  height: 100%;
  padding: 26px;
  .space {
    height: 60px;
  }
  .poststext {
    margin-top: 29px;
    font-weight: 600;
    font-size: 23px;
    padding-bottom: 5px;
  }
  .emptyPost{
    width: 113%;
// background-color: green;
height: 100%;
.emptyimg{
width: 26%;
height: 33%;
margin-left: 34%;
}
.emptyimgtext{
font-size: 18px;
font-weight: 600;
margin-left: 38%;
padding: 2%;
color: darkgrey;
font-family: system-ui;
}
  }
  .singlepost {
    background-color: white;
    height: 100%;
    border-radius: 9px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding-top: 5px;
    width: fit-content;
    .description {
      font-size: 15px;
      padding-left: 69px;
//       padding-top: 9px;
      padding-right: 34px;
      color: rgb(61, 59, 59);
      overflow-wrap: break-word;
      max-width: 650px;
    }

    .postuserdetails {
      width: 100%;
      display: flex;
      border-radius: 9px;
      //       background-color: brown;
      .postuserimg {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-left: 16px;
        margin-top: 11px;
      }
      .postusername {
        font-size: 19px;
        font-weight: 600;
        padding: 13px;
        padding-left: 20px;
        margin-top: 5px;
      }
      .delete{
        display: flex;
        justify-content: right;
        width: 60%;
      }
    }
    .postimg {
      height: 305px;
      width: 548px;
      margin-left: 73px;
      border-radius: 3px;
    }
    .likeandcomment {
      height: 44px;
      background: #e7e7e7;
      width: 651px;
      margin-top: 3px;
      padding-top: 9px;
      margin-left: 0px;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      /* box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px; */
      display: flex;
      justify-content: space-between;
      .like {
        width: 170px;
        border-bottom-left-radius: 9px;
        height: 36px;
        // background-color: blue;
        position: relative;
        display: inline-block;
        
        .liketext {
          padding: 32px;
          cursor: pointer;
        }
      }
      .comment {
        width: 170px;
        height: 36px;
        border-bottom-right-radius: 9px;
        // background-color: blue;
        position: relative;
        display: inline-block;
        .tooltiptext {
          visibility: hidden;
          width: 80px;
          background-color: white;
          color: red;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;

          /* Position the tooltip */
          position: absolute;
          z-index: 1;
        }
        &:hover {
          .tooltiptext {
            visibility: visible;
          }
        }
        .commenttext {
          padding: 12px;
          cursor: pointer;
        }
      }
    }
  }
}
