.loginadmin{
          

          .form{
                    -webkit-box-shadow: -6px 6px 39px -1px rgba(107, 126, 140, 1);
                    -moz-box-shadow: -6px 6px 39px -1px rgba(107, 126, 140, 1);
                    box-shadow: -6px 6px 39px -1px rgba(107, 126, 140, 1);
                   margin: 25px;
                   
          }
}